<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
</head>
<body>
    <header>
        <h1><a href="/" >GeekTwitter</a></h1>
        <div class="header-list">
        <ul>
            <li><a href="/new">新規投稿</a></li>
        </ul>
        </div>
    </header>
    <h3>詳細</h3>
    <p>内容 {{.todo.Text}}</p>
    <p>状態 {{.todo.Status}}</p>
</body>
</html>